@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Manrope;
  font-display: swap;
  src: url("../fonts/manrope/Manrope-Regular.ttf");
}

@font-face {
  font-family: "Manrope Light";
  font-display: fallback;
  src: url("../fonts//manrope/Manrope-Light.ttf");
}

@font-face {
  font-family: "Manrope Medium";
  font-display: fallback;
  src: url("../fonts//manrope/Manrope-Medium.ttf");
}

@font-face {
  font-family: "Manrope SemiBold";
  font-display: fallback;
  src: url("../fonts/manrope/Manrope-SemiBold.ttf");
}

@font-face {
  font-family: "Manrope Bold";
  font-display: fallback;
  src: url("../fonts/manrope/Manrope-Bold.ttf");
}

@font-face {
  font-family: "Manrope ExtraBold";
  font-display: fallback;
  src: url("../fonts/manrope/Manrope-ExtraBold.ttf");
}

/* Poppins */

@font-face {
  font-family: Poppins;
  font-display: fallback;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Light";
  font-display: fallback;
  src: url("../fonts/poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  font-display: fallback;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-display: fallback;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  font-display: fallback;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

:root {
  --gray-text: #676570;
  --primary-black: #3e3e3e;
  --primary-error: red;
  --primary-light-gray: #edf0f5;
  --primary-blue: #3173ee;
  --primary-white: #edf0f5;
  --red-error: #ff3030;
  --secondary-blue: #e3eafc;
  font-family: Poppins, sans-serif;
  color: var(--primary-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope Bold", sans-serif;
}

.poppins-semi-bold {
  font-family: "Poppins SemiBold", sans-serif;
}

.manrope-extrabold {
  font-family: "Manrope ExtraBold", sans-serif;
}

input:focus {
  outline: 2px solid var(--primary-blue);
}

a {
  &:hover {
    text-decoration: underline;
  }
}

.border-error {
  border: 2px solid var(--red-error);
}

::-webkit-scrollbar {
  width: 6px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
