// datepicker calendar

.rdrYearPicker {
  background-color: white;
  ::-webkit-scrollbar {
    width: 4px;
    border-radius: 6px;
  }
}

.rdrYearPicker > select {
  border-radius: 8px;
}

.rdrYearPicker > select > option,
.rdrMonthPicker > select > option {
  background-color: white;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
}

.rdrMonth {
  width: 100% !important;
}

// radio button

.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-radio.labelTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  padding-left: 0;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  top: 7px;
  left: -3px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-right: 100px;
  z-index: 100;
}

.container-radio.labelTop input {
  position: relative;
  bottom: 0;
  left: 0;
  cursor: pointer;
  margin-right: 0;
}

.checkmark-radio {
  position: absolute;
  top: 10px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 1px solid var(--primary-light-gray);
  border-radius: 50%;
  z-index: 10;
}

.container-radio.labelTop .checkmark-radio {
  left: auto;
  top: auto;
  bottom: 0;
}

.container-radio:hover input ~ .checkmark-radio {
  background-color: white;
}

.container-radio input:checked ~ .checkmark-radio {
  background-color: var(--primary-blue);
}

.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark-radio:after {
  display: block;
}

.container-radio .checkmark-radio:after {
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
